.root {
  text-align: center;
  font-family: "ABCSans", sans-serif;
  position: relative;
  max-width: 760px;
  margin: auto;
}

.control {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}

.single-plot {
  dummy: value;
}

.annotation {
  dummy: value;
}

.labels {
  dummy: value;
  line-height: 1rem;
}